.container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-track {
  background: var(--image-background);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: rgb(77, 77, 255);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(38, 38, 248);
}
