.table-container {
  width: 60%;
  max-height: 60vh;
  // overflow: scroll;
}
#table {
  width: 100%;
  -webkit-border-horizontal-spacing: 0;
  -webkit-border-vertical-spacing: 1rem;
  // border-spacing: 15px 0;
  // border-collapse: collapse;
  padding-right: 0.5rem;
  tr:hover {
    background-color: var(--border-color-2);
  }
}
.table--header {
  // margin-bottom: 1rem;
  // padding-bottom: 0.5rem;
  // position: fixed;
  td {
    font-size: 0.6rem;
    font-weight: bold;
    letter-spacing: 2px;
    color: rgba(170, 161, 161, 0.747);
    padding: 0rem 1rem;
  }
}
tr.border_bottom td {
  border-bottom: 1px solid var(--border-color-2);
  border-top: 1px solid var(--border-color-2);
  padding: 1rem;
  font-size: 0.7rem;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.63);
}

.table-border-left {
  border-left: 1px solid var(--border-color-2);
}
td.table-border-right {
  border-right: 1px solid var(--border-color-2);
}

.table-lists {
  overflow: scroll;
  cursor: pointer;
  overflow-x: auto;
  max-height: 60vh;
}

// #table td:not(:first-child) {
// border: 2px solid black; //var(--border-color);
// padding: 0.8rem;
// }

tr.border_bottom {
  // border-collapse: collapse;
  // border: 1px solid black;
}
// .table-list tr {
//   padding-top: 1rem;
// }

// table td {
//   padding-top: 1rem;
// }

// .table-list-container tr:not(:first-child) {
//   margin-bottom: 1rem;
//   margin-right: 0.5rem;
// }
// .table-list-items {
//   display: flex;
//   flex-direction: row;
//   justify-content: space-around;
//   align-items: center;
//   font-size: small;
// }
